<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CDN CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!--JS library-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <!--JQuery-->
    <script src="angular-1.8.0/jquery.min.js"></script>
    <!--Angular-->
    <script src="angular-1.8.0/angular.min.js"></script>
    <script src="angular-1.8.0/angular-route.js"></script>
    <!--Bootstrap CSS-->
    <script src="js/bootstrap.min.js"></script>
    <!--Bootstrap JS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="contact.css">
</head>

<body ng-app="myapp" ng-controller="myctrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color: white;" href="#"><img src="images/logo.png" width="50px"
                height="50px">THESHOESWORKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html" style="color: white;">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="aboutus.html" style="color: white;">About us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="store.html" style="color: white;">Store</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="contact.html" style="color: white;">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron-header jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Contact Us</h1>
            <p class="lead">TheShoesWorker is here to provide you with more information, answer any questions
                you
                may have and create an effective solution for you instructional needs.</p>
        </div>
    </div>
    <div class="sologan">
        <p
            style="font-size: 50px; text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            Request For Inquiry
        </p>
        <p style="text-align: center; ">Please select the purpose for your inquiry</p>
    </div>
    <div class="card-content">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/Contact/request.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Request & Demo</h5>
                <p class="card-text">Request a demonstration of TheShoesWorker activity,
                    ours commercial and know we better.</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#request">Request and Demo</a>
                <!--Modal Request & Demo-->
                <div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="requestTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Request & Demo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="video-container">
                                    <iframe width="450" height="315" src="https://www.youtube.com/embed/U_X9E6NFAB8"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/Contact/salesteam.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sales Inquiry</h5>
                <p class="card-text">Reach out to our Sales team directly for immediate assistance with all
                    sales-related inquiries.</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#salesteam">Meet Sales Team</a>
                <!-- Modal Sales Team-->
                <div class="modal fade" id="salesteam" tabindex="-1" role="dialog" aria-labelledby="salesteamTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Sales Team</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" ng-app="myapp" ng-controller="myctrl">
                                <h5>Please leave your information ours sales team will contact you soon!</h5>
                                <form class="card-form" name="frmCheck">
                                    <div class="form-group">
                                        <label>Fullname:</label>
                                        <input class="form-control" placeholder="Enter Your Fullname"
                                            ng-model="fullname" name="txtName" maxlength="25" required>
                                        <span ng-show="frmCheck.txtName.$invalid">Your fullname invalid!</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone Number:</label>
                                        <input class="form-control" placeholder="Enter Your Phone Number"
                                            ng-model="phone" name="txtPhone" type="number" minlength="10" required>
                                        <span ng-show="frmCheck.txtPhone.$invalid">Phone Number Limit 10 Numbers!</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" placeholder="Enter Your Email" ng-model="email"
                                            name="txtEmail" type="email" required>
                                        <span ng-show="frmCheck.txtEmail.$invalid">Your Email invalid!</span>
                                    </div>
                                    <h5 ng-show="frmCheck.$valid">Your information is valid. <br> Send this to our staff
                                        and we will contact you soon !</h5>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/Contact/customer-service.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Customer Support</h5>
                <p class="card-text">Get in touch with Customer support for assistance with TheShoesWorker
                    implemetation.</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cumstomersp">Contact Supporter</a>
                <!-- Modal -->
                <div class="modal fade" id="cumstomersp" tabindex="-1" role="dialog" aria-labelledby="cumstomerspTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Customer Support</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Ours information to contact</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        Toll-Free: 800-968-6800
                                    </li>
                                    <li>
                                        Phone: 762-300-5505
                                    </li>
                                    <li>
                                        Fax: 732-300-2313
                                    </li>
                                    <li>
                                        Email: TSW@gmail.om
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron-information jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-md-0 mb-4">
                    <h5>Corporate Headquarters</h5>
                    <ul class="list-unstyled">
                        <li>
                            Corporate Hradquartes
                        </li>
                        <li>
                            TheShoesWorker
                        </li>
                        <li>
                            1999 Au Duong Lan, District 8
                        </li>
                        <li>
                            Ho Chi Minh City, SouthSide 08071
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-4">
                    <h5>General Contact</h5>
                    <ul class="list-unstyled">
                        <li>
                            Toll-Free: 800-968-6800
                        </li>
                        <li>
                            Phone: 762-300-5505
                        </li>
                        <li>
                            Fax: 732-300-2313
                        </li>
                        <li>
                            Email: TSW@gmail.om
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>Sales Info & Inquiries</h5>
                    <ul class="list-unstyled">
                        <li>
                            Toll-Free: 800-838-8700
                        </li>
                        <li>
                            Email: salesTSW@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-4">
                    <h5>International Sales</h5>
                    <ul class="list-unstyled">
                        <li>
                            Email: internationalTSW@gmail.com
                        </li>
                        <li>
                            Phone: 762-900-3600
                        </li>
                        <li>
                            Schedule: Monday-Thursday: 7:30 AM to 10:30 PM | Friday-Saturday: 7:30 AM to 15:00 PM
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
    </div>
    <footer class="page-footer ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5>The Shoes Worker</h5>
                    <p>"Working hard to put the best Sneaker products with no exceuss".</p>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>About</h5>
                    <ul class="list-unstyled">
                        <li>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                            </svg><a href="index.html">Home</a>
                        </li>
                        <li>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path d="M8 12c4 0 5 1.755 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12z" />
                            </svg><a href="aboutus.html">About Us</a>
                        </li>
                        <li>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-plus" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
                                <path fill-rule="evenodd"
                                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                            </svg> <a href="store.html">Store</a>
                        </li>
                        <li>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone-vibrate"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 3H6a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H6z" />
                                <path fill-rule="evenodd"
                                    d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM1.599 4.058a.5.5 0 0 1 .208.676A6.967 6.967 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A7.968 7.968 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208zm12.802 0a.5.5 0 0 1 .676.208A7.967 7.967 0 0 1 16 8a7.967 7.967 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A6.967 6.967 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676zM3.057 5.534a.5.5 0 0 1 .284.648A4.986 4.986 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A5.986 5.986 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284zm9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8c0 .769-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8c0-.642-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648z" />
                            </svg><a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>Follow us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!"><img src="images/Footer-icon/facebook.png" width="25px"
                                    height="25px">Facebook</a>
                        </li>
                        <li>
                            <a href="#!"><img src="images/Footer-icon/instargram.png" width="25px"
                                    height="25px">Instargram</a>
                        </li>
                        <li>
                            <a href="#!"><img src="images/Footer-icon/twitter.png" width="25px"
                                    height="25px">Twitter</a>
                        </li>
                        <li>
                            <a href="#!"><img src="images/Footer-icon/lotus.png" width="25px" height="25px">Lotus</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 THESHOESWORKER</div>
    </footer>
</body>
<script>
    var app = angular.module("myapp", []);
    app.controller("myctrl", function ($scope) {
       
    });
</script>
</html>